@model Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "Магазин электроники";
}

<h2>Оформить заказ</h2>
<p>Пожалуйста, введите Ваши контактные данные.</p>

@using (Html.BeginForm())
{
    
    @Html.ValidationSummary()
    <h3>Получатель</h3>
    <div class="form-group">
        <label>Имя:</label>
        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Фамилия:</label>
        @Html.TextBoxFor(x => x.SecondName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>E-mail:</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>
    <h3>Адрес доставки</h3>
    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "FirstName" && property.PropertyName != "SecondName" && property.PropertyName != "Email")
        {
            <div class="form-group">
                <label>
                    @(property.DisplayName ?? property.PropertyName)
                </label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
            </div>
        }
    }

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Обработать заказ" />
    </div>

}

